@media (min-width: 1200px) {

    .container {
        max-width: 1100px;
    }

    .secao-baner img {
        height: 800px;
    }

    .container h1 {
        font-size: 38px;
    }

    .container h2 {
        font-size: 28px;
    }

    .lista-sabores li {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        max-width: 900px;
    }

    .secao-baner img {
        height: 650px;
    }

    .menu {
        font-size: 17px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar {
        padding: 15px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .secao-baner img {
        height: 680px;
    }

    .container h1 {
        font-size: 28px;
    }

    .container h2 {
        font-size: 22px;
    }

    .lista-sabores li {
        font-size: 17px;
        max-width: 600px;
    }

    .contato iframe {
        height: 350px;
    }
}

@media (min-width: 520px) and (max-width: 767px) {

    .navbar {
        padding: 10px;
    }

    .menu {
       display: flex;
        text-align: center;
        white-space: nowrap;
        gap: 10px;
        font-size: 12px;
    }


    .secao-baner img {
        height: 750px;
    }

    .container {
        margin: 20px auto;
    }

    .container h1 {
        font-size: 24px;
    }

    .container h2 {
        font-size: 20px;
    }

    .container p {
        font-size: 15px;
    }

    .lista-sabores li {
        font-size: 16px;
    }

    .contato iframe {
        height: 300px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .navbar {
        padding: 10px;
    }

    .menu {
       display: flex;
        text-align: center;
        white-space: nowrap;
        gap: 10px;
        font-size: 12px;
    }


    .secao-baner img {
        height: 350px;
    }

    .container {
        margin: 20px auto;
    }

    .container h1 {
        font-size: 24px;
    }

    .container h2 {
        font-size: 20px;
    }

    .container p {
        font-size: 15px;
    }

    .lista-sabores li {
        font-size: 16px;
    }

    .contato iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {

    .logo img {
        width: 80px;
        height: 80px;
    }

    .menu {
        display: flex;
        text-align: center;
        white-space: nowrap;
        gap: 10px;
        font-size: 12px;
    }

    .menu li a {
        padding: 8px 12px;
    }

    .secao-baner img {
        height: 340px;
    }

    .container h1 {
        font-size: 20px;
    }

    .container h2 {
        font-size: 18px;
    }

    .container p {
        font-size: 14px;
    }

    .container-sabores {
        padding: 30px 15px;
    }

    .lista-sabores li {
        font-size: 15px;
    }

    .contato iframe {
        height: 250px;
    }

    .redes-sociais h3 {
        font-size: 18px;
    }
}